.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;

}
.text-center{
  color:#000099;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #3b4d64;
  text-align: center;
  color: white;
}

.bodycontainer{
  padding-left: 10%;
  padding-right: 10%;
 
}

.page-wrap {
  min-height: calc(100vh - 100px);
}

.site-footer {
  height: 100px;
  background-color: #3b4d64;
  text-align: center;
  color: white;
}
